.splitLink {
	padding: 0.4rem;
	color: #fbfbf4;
	transition: color 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.split {
	display: block;
	position: relative;
	overflow: hidden;
}

.line {
	transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);

	&.normal {
		transform: translateY(-110%);
	}

	&.hover {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(110%);
	}
}
