.root {
	position: relative;
	overflow: hidden;
	/* aspect-ratio: 16 / 9; */
	height: 100%;
	width: 100%;
}

.slider {
	width: 100%;
	height: 100%;
}

.imageWrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.image {
	object-fit: cover;
}

.handle {
	cursor: col-resize;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;

	color: var(--white);
}

.line {
	width: 0.02rem;
	height: 100%;
	background-color: var(--c-beige);
	box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	align-items: center;
	justify-content: center;

	width: 40px;
	height: 40px;

	color: var(--color-black);

	background-color: var(--c-orange);
	border-radius: 50%;
	box-shadow: 0 4px 12px rgb(0 0 0 / 15%);

	transition: transform 0.3s ease;

	svg {
		rotate: 90deg;
		stroke: var(--c-beige);
	}
}

.handle:active .button {
	transform: translate(-50%, -50%) scale(0.9);
}

.label {
	pointer-events: none;

	position: absolute;
	top: 0.4rem;

	padding: 0.2rem 0.3rem;

	color: var(--c-white);

	background: var(--c-nav);
	backdrop-filter: blur(0.3rem);
	border-radius: 0.04rem;
}

.labelBefore {
	left: 0.4rem;
}

.labelAfter {
	right: 0.4rem;
}
