.line {
	position: relative;
	height: inherit;
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	gap: 0.05rem;
	padding: 0 0.01rem;

	transition: transform 0.8s var(--ease);

	&.hover {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(110%);
		font-style: italic;
	}
}

.root {
	position: relative;
	overflow: hidden;
	display: block;

	&:hover {
		.line.normal {
			transform: translateY(-110%);
		}

		.line.hover {
			transform: translateY(0);
		}
	}
}
