.root {
	position: fixed;
	z-index: 10;
	top: 0;

	width: 100%;
	height: auto;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
}

.logo {
	width: auto;
	height: 4rem;
}
