.root {
	height: 100%;
	max-height: 0.85rem;
	position: fixed;
	z-index: 10;
	top: 0;

	width: 100%;
	height: auto;
}

.wrapper {
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	gap: 0.05rem;
	padding: 0.4rem;
}

.logo {
	height: 0.7rem;
	width: 0.7rem;
	background: #908c8766;
	backdrop-filter: blur(1.2rem);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.04rem;
	padding: 0.12rem;
}

.icon {
	height: 0.45rem;
	width: auto;
}
