.mask,
.invertedMask {
	pointer-events: none;
	will-change: mask-size;

	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;

	overflow: hidden;

	width: 100%;
	height: 100%;
	border-radius: 40px;

	mask-image:
		linear-gradient(to right, var(--black), var(--black)),
		linear-gradient(to left, var(--black), var(--black));
	mask-repeat: no-repeat;
	mask-position:
		left center,
		right center;

	transition: mask-size 0.35s ease;

	&::after {
		pointer-events: none;
		content: '';

		position: absolute;
		inset: 0;

		box-sizing: border-box;
		border: 1px solid var(--black);
		border-radius: inherit;
	}
}

.mask {
	mask-size: 8px 100%;
}

.invertedMask {
	mask-size: 51% 100%;
}

.capsule {
	position: relative;

	overflow: hidden;
	display: flex;
	gap: 10px;

	width: fit-content;
	padding: 4px 12px;
	border-radius: 40px;

	&:hover {
		.mask {
			mask-size: 51% 100%;
		}

		.invertedMask {
			mask-size: 8px 100%;
		}
	}

	&.active {
		.mask {
			mask-size: 51% 100%;
		}
	}
}

.wrapper {
	display: flex;
	gap: 5px;
	align-items: flex-start;

	color: inherit;
	text-transform: uppercase;
}
