.root {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	position: relative;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	padding: 0.02rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.02rem;
}

.imageWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 0.04rem;
	overflow: hidden;

	&::after {
		content: '';

		position: absolute;
		top: 0;

		width: 100%;
		height: 100%;

		opacity: 0.2;

		background: linear-gradient(#0000 0%, #000 34.9539%);
	}
}

.image {
	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center;
}

.heading {
	padding: 0.4rem;
	position: relative;
	width: 100%;
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.02rem;
	/* justify-content: space-between; */

	color: var(--beige);
}
