.root {
	display: flex;
	align-items: center;
	backdrop-filter: blur(1.2rem);
	/* height: 4rem; */
	border-radius: 0.2rem;
	background: #d3d3d380;
	backdrop-filter: saturate(180%) blur(20px);
	padding: 0.5rem 2.2rem;
}

.list {
	display: flex;
	align-items: center;
	gap: 2.2rem;
}

.item {
	padding: 0.4rem;
}

.link {
	color: var(--black);
}
