.root {
	display: flex;
	align-items: center;

	background: #ffffff40;
	backdrop-filter: blur(1.2rem);

	border-radius: 0.06rem;
}

.list {
	display: flex;
	align-items: center;
}

.item {
	padding: 0.2rem 0.25rem;
}

.link {
	color: var(--white);
}
